
@media only screen and (max-width: 1600px) {
.main-card {
    width: 80%;
}

}

@media only screen and (max-width: 1440px) {
    .main-card {
        width: 88%;
    }

}

@media only screen and (max-width:1300px) {
    .user-name1 {
    width: 35%;
}
.form-bg2 {
    position: absolute;
    bottom: 0;
    width: auto;
}
.total-box {
    background-color: #FFF8E5;
    display: flex;
    gap: 6px;
    padding: 20px;
    border-radius: 15px;
    border-bottom: 1px solid #FFBF08;
}
}

@media only screen and (max-width:1200px) {
    .main-card {
        width: 98%;
    }
    .user-card-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.user-name h4 {
    margin-bottom: 0;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
}
.user-name2 {
    width:65%;
}
}


@media only screen and (max-width: 1024px) {


}

@media only screen and (max-width: 991px) {
.card.pic {
    background-image: url(../images/profile-bg1.jpg);
    display: block;
}
.user-card-img img {
        margin-bottom: 20px;
    }
.pic .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    border-left: 0px solid #919191;
    padding-left: 0px;
}
    .img-user {
    width: 100%;
}
.form-deign {
    width: 100%;
}
.user-login {
    display: block;
    height: auto;
}
.user-registration {
    max-width: 368px;
    margin: 0px auto;
    margin-top: 4%;
}
    .form-bg2 {
        position: relative;
        bottom: 0;
        width: auto;
    }
}


@media screen and (max-width: 835px) {

}


@media only screen and (max-width: 768px) {
    .wui-side-menu-header {
    display: block;
}
    .user-name1 {
        width: 100%;
    }
        .user-name2 {
        width: 100%;
    }
        .main-card {
        padding: 0;
        width: 100%;
    }

}

@media screen and (max-width: 690px) {
.user-name {
    display: block;
    gap: 20px;
    align-items: center;
    margin-bottom: 32px;
}
    .user-name h4 {
        margin-bottom: 0;
        color: #FFF;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 15px;
    }
        .user-name h4 {
        margin-bottom: 0;
        color: #FFF;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .card.pic {
    padding: 28px 17px;
}

}

@media only screen and (max-width: 576px) {

.container {
    max-width: 100%;
  }

  .user-registration form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  .user-registration form .gender-details .category {
    width: 100%;
  }

  .user-registration form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user__details::-webkit-scrollbar {
    width: 0;
  }
      .user-registration {
        max-width: 100%;
        margin: 0px auto;
        margin-top: 4%;
        padding: 15px;
    }

     .search-local {
        padding-left:10px;
        column-gap: 0.25rem;
    }

    .search-local button {
        width: 10rem;
    }


    .search-local button .search-icon {
        display: block;
        margin-inline: auto;
        color: var(--white);
    }


}

